acharset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}

body
{
	font-family:Verdana, Arial, sans-serif;
	font-size:9px;
	color:#000;
}

img
{
	border:none;
}

h1
{
	color:#000c7c;
	font-size:14px;
	text-align:center;
	margin-top:5px;
}

p
{
	margin:6px 10px 6px 10px;
	text-align:justify;
}

a
{
	color:#000;
}

input
{
	vertical-align:middle;
}

#cont
{
	width:390px;
	height:400px;
	border-top:#fff solid 0px;
	border:#000 0px solid;
	position:relative;
}

.logo_banque
{

	margin:0 0 0 10px;
}

.logo_verif
{
	float:right;
	margin:14px 10px 0 0;
}

.logo_secure
{

	margin:6px 2px 0 183px;
}

.link_fl_b
{
	background:url(../imgs/imagesTemplates/fl_b.png) no-repeat 0 4px;
	padding:0 0 0 10px;
	color:#0024d5;
}

.more a
{
	background:url(../imgs/imagesTemplates/fl_b.png) no-repeat 0 4px;
	padding:0 0 0 10px;
	color:#0024d5;
}

.more
{
	text-align:right;
	position:absolute;
	bottom:0;
	right:0;
}

.authentif
{
	width:368px;
	background:url(../imgs/imagesTemplates/ar_h_CA.gif) no-repeat #e0e1ef 0 0;
	margin:0 auto;
	padding:3px 0 0 0;
	font-size:10px;
}

.authentif form
{
	background:url(../imgs/imagesTemplates/ar_b_CA.gif) no-repeat 0 bottom;
	clear:left;
	padding:0 0 5px 0;
}

.authentif p
{
	margin:2px 0;
	overflow:auto;
}

.authentif p.num_carte
{
	margin:6px 0;
}

.authentif p.ex
{
	color:#000c7c;
	font-size:9px;
	vertical-align:middle;
	text-align:center;
	margin:0 3px 6px 3px;
}

.authentif form p
{
	margin:0;
}

.authentif form p.f_d
{
	margin-left:158px;
	font-size:9px;
}

.authentif span
{
	display:block;
	float:left;
}

.authentif span.lbl
{
	text-align:right;
	margin-top:3px;
	padding:0 5px 0 0;
	font-weight:bold;
	width:150px;
}

.authentif span.lblAuth
{
	text-align:right;
	margin-top:3px;
	padding:0 5px 0 0;
	font-weight:bold;
	width:175px;
}

.authentif span.lblerr
{
	text-align:right;
	margin-top:3px;
	padding:0 5px 0 0;
	font-weight:bold;
	width:150px;
	color:#ff0000;
}

.authentif span.lbl2
{
	text-align:right;
	padding:0 5px 0 0;
	font-weight:bold;
	width:150px;
}

.authentif span.lblAuth2
{
	text-align:right;
	padding:0 5px 0 0;
	font-weight:bold;
	width:175px;
}

.authentif span.ex
{
	color:#000c7c;
	font-size:9px;
	text-align:left;
	width:145px;
	margin:1px 1px;
}

.authentif span.val
{
	text-align:left;
	padding:0 2px 0 2px;
	font-weight:bold;	
}

.authentif form input.chp_code
{
	width:60px;
	margin-right:3px;
	font-size:10px;
}

.authentif form input.chp_crypto
{
	width:18px;
	margin-right:3px;
	font-size:10px;
}

.authentif form input.chp_donnee
{
	width:120px;
	margin-right:3px;
	font-size:10px;
}

.authentif form input.chp_code1
{
	width:60px;
	margin-right:3px;
	font-size:10px;
}

.authentif form input.chp_code2
{
	width:60px;
	margin-right:3px;
	font-size:10px;
}

.authentif form select.chp_question
{
	width:204px;
	margin-right:3px;
	font-size:10px;
}

.authentif form input.chp_reponse
{
	width:200px;
	margin-right:3px;
	font-size:10px;
}

.bt
{	margin-left:158px;
	margin-top:2px;
	font-size:10px;
}

.err
{
	color:#ff0000;
}

.errRefus
{
	margin-top:50px;
	margin-bottom:40px;
	color:#ff0000;
}

p.link
{
	margin-top: -6px;
}

#logo1Src
{
	float: left;
	width:175px;
	height: 55px;
	overflow: hidden;
	text-align:left;
	padding:0 0 0 10px;
}

#logo2Src
{
	float:right;
	width:175px;
	height: 55px;
	overflow: hidden;
	text-align:right;
	padding:0 10px 0 0;
}

#textSrc{
	position:absolute;
	top:50px;	
	left:0px;
	right:0px;
}